:root {
  --corporate-color: #2196F3;
  --first-text: #212121;
  --second-text: #FFFFFF;
  --third-text: #757575;
  --background-header: #ECECEC;
  --background-tagline-and-footer: #2F303A;
  --background-team: #F5F4FA;
  --background-fff: #FFFFFF;
  --backgraund-portfolio-main: #E5E5E5;
  --web-header: #000000;
  --web-footer: #FFFFFF;
  --background-btn-portfolio: #F5F4FA;
  --background-icon: #F5F4FA;
  --color-icon: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--first-text);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--background-fff);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.navigation__logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--corporate-color);
}

@media screen and (min-width: 1200px) {
  .navigation__logo {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.navigation__studio-header {
  font-weight: 700;
  color: var(--web-header);
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .navigation__studio-header {
    margin-right: 93px;
  }
}

.navigation__studio-footer {
  font-weight: 700;
  color: var(--second-text);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--second-text);
  background-color: var(--corporate-color);
  border: 0;
  border-radius: 4px;
}

.btn:hover, .btn:focus {
  cursor: pointer;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  min-height: 581px;
  background-color: var(--background-fff);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 558px;
  }
}

.btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.btn-close:hover, .btn-close:focus {
  fill: var(--corporate-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  color: var(--first-text);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: calc(23 / 20);
  }
}

.modal__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--third-text);
  display: block;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal__input:focus {
  border-color: var(--corporate-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__input:focus + .modal__input-icon {
  fill: var(--corporate-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  display: flex;
  margin-bottom: 30px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal-field__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: calc(14 /12);
  color: var(--third-text);
}

@media screen and (min-width: 1200px) {
  .modal-field__label {
    font-size: 14px;
    line-height: calc(24 /12);
  }
}

.modal-field__label span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.modal-field__check:checked + .modal-field__label svg {
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__check:checked + .modal-field__label > span {
  background-color: var(--corporate-color);
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__icon {
  fill: transparent;
}

.modal-field__link {
  display: inline;
  text-decoration-line: underline;
  color: var(--corporate-color);
  margin-left: 3px;
}

.modal__btn-submit {
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
}

.modal__btn-submit:hover {
  background-color: #188CE8;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    visibility: visible;
    display: flex;
  }
}

.nav-list__item {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--first-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-list__item:hover, .nav-list__item:focus {
  color: var(--corporate-color);
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.current {
  color: #2196F3;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: -35.5px;
}

@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -33.5px;
  }
}

.header-contacts-div {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts-div {
    visibility: visible;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: center;
  }
}

.header-contacts__item {
  font-weight: 500;
  font-size: 12;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--third-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover, .header-contacts__item:focus {
  color: var(--corporate-color);
}

.header-contacts__item + .header-contacts__item {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__item {
    line-height: calc(16 / 14);
  }
  .header-contacts__item + .header-contacts__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__menu-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: 0px solid transparent;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__menu-btn {
    visibility: hidden;
    display: none;
  }
}

.header__menu-icon:hover, .header__menu-icon:focus {
  fill: var(--corporate-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 0.02em;
  position: fixed;
  z-index: 1;
  background-color: var(--background-fff);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 48px 40px;
  overflow: auto;
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--corporate-color);
}

.mob-menu-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: calc 1.175;
  color: var(--first-text);
}

.mob-menu-list__item + .mob-menu-list__item {
  margin-top: 32px;
}

.current-menu {
  color: var(--corporate-color);
}

.menu-contacts__item-mail {
  font-size: 34px;
  line-height: calc(40 / 34);
  color: var(--corporate-color);
}

.menu-contacts__item-tel {
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--third-text);
  margin-top: 32px;
}

.menu-socials {
  display: flex;
  overflow: auto;
  margin-top: 64px;
}

.menu-socials__item {
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--corporate-color);
}

.menu-socials__item + .menu-socials__item {
  margin-left: 20px;
}

.tagline {
  background-color: var(--background-tagline-and-footer);
  flex-grow: 1;
  padding: 118px 0 118px 0;
  background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url(../img/tagline-tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400;
  max-width: 600px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .tagline {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url(../img/tagline-tel-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .tagline {
    max-width: 850px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url(../img/tagline-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .tagline {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url(../img/tagline-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .tagline {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0 200px 0;
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url(../img/tagline.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .tagline {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url(../img/tagline-2x.jpg);
  }
}

.tagline__title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .tagline__title {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.tagline__btn {
  align-items: center;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px 10px 32px;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.about-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.about-list__icon-background {
  content: '';
  width: 100%;
  height: 120px;
  background-color: var(--background-icon);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-list__item-title {
  font-family: 'Roboto';
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-list__item-title {
    text-align: left;
  }
}

.about-list__item-text {
  font-family: 'Roboto';
  line-height: calc(24 / 14);
  color: var(--third-text);
}

.tasks {
  padding-top: 0;
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 1200px) {
  .tasks {
    visibility: visible;
    display: block;
  }
}

.tasks__title {
  font-size: 36px;
  line-height: calc(42 /36);
  text-align: center;
  margin-bottom: 50px;
}

.tasks-list {
  display: flex;
  align-items: center;
}

.tasks-list__item {
  width: calc(100% / 3 - 30px);
  position: relative;
}

.tasks-list__item + .tasks-list__item {
  margin-left: 30px;
}

.tasks-list__div-text {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

.tasks-list__text {
  font-weight: 700;
  line-height: calc(16/14);
  text-align: center;
  text-transform: uppercase;
  color: var(--second-text);
}

.team {
  background-color: var(--background-team);
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-fff);
  box-sizing: border-box;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3), 2px 0 2px -2px rgba(0, 0, 0, 0.3), -2px 0 2px -2px rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--third-text);
  margin-bottom: 16px;
}

.team-socials {
  display: flex;
  justify-content: center;
}

.team-socials__item + .team-socials__item {
  margin-left: 10px;
}

.team-socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-icon);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover, .team-socials__link:focus {
  background-color: var(--corporate-color);
  fill: var(--second-text);
}

.team-socials__icon {
  color: currentColor;
}

.company__title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .company__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.company-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.company-list__item {
  margin-bottom: 30px;
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .company-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .company-list__item {
    width: calc(100% / 6 - 30px);
  }
}

.company-list__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  fill: var(--color-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list__link:hover, .company-list__link:focus {
  fill: var(--corporate-color);
  border-color: var(--corporate-color);
}

.company-list__icon {
  color: currentColor;
}

.nav-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.nav-portfolio-list li:nth-child(n+3) {
  margin-top: 15px;
}

.nav-portfolio-list li:nth-child(2n + 3) {
  margin-left: 0px;
}

@media screen and (min-width: 394px) {
  .nav-portfolio-list li:nth-child(3) {
    margin-top: 0;
  }
  .nav-portfolio-list li:nth-child(4) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .nav-portfolio-list {
    margin-bottom: 30px;
    justify-content: center;
  }
  .nav-portfolio-list li:nth-child(n+4) {
    margin-top: 0px;
  }
  .nav-portfolio-list li:nth-child(4) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-portfolio-list {
    margin-bottom: 50px;
  }
}

.nav-portfolio-list__item:not(:last-child) {
  margin-right: 8px;
}

.nav-portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--first-text);
  background-color: var(--background-btn-portfolio);
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-portfolio-btn:hover, .nav-portfolio-btn:focus {
  color: var(--second-text);
  background-color: var(--corporate-color);
  cursor: pointer;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .services {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.services__item {
  margin-bottom: 30px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .services__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .services__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.services__link {
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
}

.services__link:hover, .services__link:focus {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3), 5px 0 5px -5px rgba(0, 0, 0, 0.3), -5px 0 5px -5px rgba(0, 0, 0, 0.3);
}

.services__link:hover .services-top-div__text, .services__link:focus .services-top-div__text {
  transform: translateY(0);
}

.services-top-div {
  position: relative;
  overflow: hidden;
}

.services-top-div__text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: calc(28/18);
  color: var(--second-text);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-content {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.services-content__title {
  font-size: 17px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--first-text);
}

.services-content__text {
  font-size: 16px;
  line-height: calc(30 /16);
  color: var(--third-text);
}

footer {
  background-color: var(--background-tagline-and-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    align-items: baseline;
  }
}

.footer-contacts-list {
  margin-top: 20px;
}

address {
  font-style: normal;
}

.footer-contacts__addres {
  line-height: calc(24 / 12);
  color: var(--second-text);
}

.footer-contacts-list__item {
  line-height: calc(24 / 12);
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-list__item + .footer-contacts-list__item {
  margin-top: 9px;
}

.footer-socials {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}

.footer-socials__text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-transform: uppercase;
  color: var(--second-text);
  margin-bottom: 20px;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
}

.footer-socials-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-text);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-list__link:hover, .footer-socials-list__link:focus {
  background-color: var(--corporate-color);
  fill: var(--second-text);
}

.footer-socials-list__item + .footer-socials-list__item {
  margin-left: 10px;
}

.footer-socials-list__icon {
  color: currentColor;
}

.footer-mailing {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-mailing {
    margin-left: auto;
    display: flex;
    margin-top: 0;
  }
}

.footer-mailing__title {
  font-weight: 700;
  line-height: calc(16 /14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 20px;
}

.footer-mailing__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  font-size: 16px;
  line-height: calc(20 /16);
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-mailing__input {
    width: 358px;
  }
}

.footer-mailing__btn {
  width: 200px;
  padding: 10px 28px;
  margin: auto;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-mailing__btn {
    margin-left: 12px;
    margin-bottom: 0;
    margin-top: auto;
  }
}

.footer-mailing__btn-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */